{
"prefix": String: Used to "talk to" your bot. You can also mention the bot by default to run commands, but you also need a prefix.
"callCoolDown": Integer: Set a cooldown between how long users can use the call command. I recommend 30 seconds or more (this is per user)
"maxMsgLength": Integer: The max amount of characters for the message to be read aloud over the phone call. Should be less than 2000, I recommend 250
"eventName": String: The event name from your webhook
"IFTTTkey": String: The IFTTT token/key that you got from the webhook settings URL thingy
"discordToken": String: Your bot token from the Discord developer portal in the bot section (NOT client secret/client ID)
}
